<!doctype html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>Air quality report</title>
    <style type="text/css">
      @media print{@page {size: landscape}}
      body {
        color:black;
        font-family: "Helvetica", helvetica, arial, sans-serif;
      }
      p {
        font-size: large; 
      }
      .container {
        margin-left: 5em;
        margin-right:5em;
      }
      hr {
       page-break-after:always; 
        width:0;
      }
      em {
        color: red;
      }
      li {
        font-size: large; 
      }
      .logo {
        float: right;
        max-width: 100px;
      }
      h1 {
        margin-top: 3em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Air quality in your home</h1>
      <h2>Report for {{name}}</h2>
      <h3>Data collected between {{start}} and {{end}}</h3>
      <p>Total measurement time in your home: {{total_time}}</p>
      <hr />
      <h1>Secondhand smoke</h1>
      <h3>Breathing in second-hand tobacco smoke has been shown to have many harmful effects on health. These include:</h3>
		<ul>
          	<li>An increase in the risk of heart attack, stroke and lung cancer for non-smokers</li>
          <li>Children are particularly susceptible to the damaging effects of breathing in smoke because they have smaller airways, they breathe faster and their immune systems are still developing</li>
          <li>Children exposed to smoke are more likely to have chest infections and suffer from wheezing and coughing</li>
          <li>Children living in a home where one parent smokes are 50% more likely to have middle-ear infections</li>
          <li>Approximately 9,500 children in the UK are admitted to hospital every year because of illness linked to breathing in tobacco smoke</li>
          <li>Children who grow up around smokers are three times more likely to become a smoker themselves</li>
      </ul>
      <hr />
      <h1>What can you do?</h1>
      <ul>
        <li>Set a date to make your home and car smoke-free</li>
        <li>Discuss your plans to go smoke-free with your family and friends and ask for their support</li>
        <li>Remove ashtrays from your home/car &#8212; put them outside or at the backdoor.  Put an umbrella at the door for rainy days</li>
        <li>Make some no-smoking signs with your kids and put them in your home and car to remind everyone</li>
        <li>Make a list of things you can do to distract yourself when you feel like having a smoke</li>
        <li>Think about quitting &#8212; call 0808 812 8008 for local NHS help</li>
      </ul>
    </div>
  </body>
</html>
